[Unit]
Description=sgp30-exporter service
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/usr/src/sgp30_exporter
ExecStart=/usr/bin/python3 /usr/src/sgp30_exporter/sgp30_exporter.py --verbose
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
